@font-face {
    font-family: BeachDay;
    src: url("../font/beachday.ttf");
}

.reveal h1 {
    letter-spacing: 15px;
}

.box {
    float: left;
    opacity: 100%;
    text-align: center;
    font-size: 60px;
    cursor: pointer;
}

.isi12 {
    width: 25%;
    height: 33.33%;
    line-height: 220px;
}

.isi20 {
    width: 20%;
    height: 25%;
    line-height: 160px;
}

.isi25 {
    width: 20%;
    height: 20%;
    line-height: 125px;
}

.full {
    width: 100%;
    height: 100%;
}

.gambar {
    width: 100%;
    height: 100%;
    background-color: #131313;
    background-size: cover;
}

button {
    border: none;
    border-radius: 10px;
    padding: 10px 70px;
    text-align: center;
    letter-spacing: 5px;
    text-decoration: none;
    display: inline-block;
    font-family: "BeachDay";
    font-size: 45px;
    cursor: pointer;
}

button:hover {
    opacity: 90%;
}

#button1 {
    background-color: #fbb03b;
    color: black;
}

#button4 {
    background-color: #bae3e9;
}